body {
    text-align: center;
  }

  nav {
    background-color: steelblue;
    padding: 10px;
  }

  a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
  }

  h1 {
    color: steelblue;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }
  /* Below is an example of selecting a class */
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  /* Below is an example of selecting an id value */
  #active {
    background-color: white;
    color: steelblue;
  }

  /* This will make an image adjust to screen size instead of being fixed */
  img {
    width: 80%;
  }

  p {
    width: 80%;
  }

  /* this puts a border around every element */
  * {
    border: 2px solid blue;
  }

  a:hover {
    background-color: white;
    color: steelblue;
  }